<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="js/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="js/app.js"></script>

    <!-- Include meta tag to ensure proper rendering and touch zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include jQuery Mobile stylesheets -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- Include the jQuery library -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Include the jQuery Mobile library -->
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>

<body ng-app="surveyApp" ng-controller="survey">
    <div data-role="page" id="{{ 'Page' + quest.id}}" ng-repeat="quest in listQuestions">
        <div data-role="main" class="ui-content">
            <div data-role="header">
                <h1>{{quest.title}}</h1>
            </div>
            <div data-role="main" class="ui-content">
                <div id="description">
                    <p>{{quest.description}}</p>
                </div>
                {{quest.qdeCaracter}}
                <div ng-switch on="quest.tipe">
                    <div ng-switch-when='aberta'>
                         <input type="text" ng-model="quest.reply" ng-maxlength="quest.qdeCaracter" />
                    </div>
                    <div ng-switch-default>
                       2
                    </div>
                </div>

            </div>
            <div data-role="footer" class="btnFooter">
                <button class="btnQuest" ng-hide="$first">
                    <a href="{{ '#Page' + (quest.id-1)}}">Go to Previus Page</a>
                </button>
                <button ng-disabled="quest.answered" ng-hide="$last">
                    <a href="{{ '#Page' + (quest.id+1)}}">Go to Next Page</a>
                </button>
                {{listQuestions}}
            </div>
        </div>
    </div>
   
</body>
</html>
